= render 'slider'
.container
  .mainbox-title
    %span New Books
  .mainbox-body
    = render 'new_books'
  .mainbox-title
    %span Comic Books
  .mainbox-body
    = render 'comic_books'
  .mainbox-title
    %span Story Books
  .mainbox-body
    = render 'story_books'

