
@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  font: 13px "Roboto", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.app_layout {
  margin-top: 5px;
  position: relative;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#search {
  margin: 5px;
  margin-left: 45px;
  width: 500px;
}

#search_text{
  width: 440px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 52px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #1f7f5c;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.signin {
  input {
    height: auto !important;
  }
}

#search_text:focus {
  background: rgb(64, 151, 119);
}

#search_button {
  border: 0 none;
  background: #1f7f5c url(search.png) center no-repeat;
  width: 60px;
  float: left;
  padding: 0;
  text-align: center;
  height: 52px;
  cursor: pointer;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 20px;

  span {
    margin-left: 15px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users, .index_products {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.product-item {
  margin-left: 64%;
}

.top-nav {
  height: 84px;
}

.top-menu {
  margin-top: 20px;
  width: 100%;
  background: rgb(64, 151, 119);
}

.text-color {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.top-container {
  display: flex;
  margin-top: 20px;

  .logo_img {
    margin-top: -30px;
    margin-right: 60px;
  }

  .hotline_img {
    margin-left: 30px;
  }

  .hotline {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }

  .ship_img {
    margin-left: 30px;
  }

  .ship {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }

  .books_img {
    margin-left: 30px;
  }

  .books {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }

  .welcome_user {
    margin-left: 80px;
    display: flex;

    .wellcome_title{
      margin-left: 5px;
      display: flex;
      flex-direction: column;

      .login_user {
        list-style: none;
        margin-left: 10px;
        display: flex;

        .btn {
          padding: 0;
        }

        .name_user {
          margin-left: 15px;
        }

        .dropdown:hover .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

.modal-header-background {
  background-color: #409777;
  margin: 5px;

  h4 {
    color: white;
  }

  .close {
    color: white;
  }
}

.container {
  .dropdown-menu-category {
    display: block;
  }

  .btn-is-disabled {
    color: white !important;
    font-weight: bold;
    pointer-events: none;
    @include opacity(0.7);
  }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu >.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover >.dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left >.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 60%;
  margin: auto;
}

.carousel-home-page {
  position: center;
  margin-left: 10%;

  #myCarousel {
    width: 1000px;
  }
}

.mainbox-title {
  padding: 0px;
  height: 30px;
  margin-top: 20px;
  margin-left: 0px;
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  border-bottom: 1px dashed #c7c7c7;

  span {
    color: #008340;
  }
}

.mainbox-body {
  float: left;
  width: 100%;
  padding-top: 10px;

  .template-grid-list, .template-products.list {
    margin-top: 15px;
  }

  .fixed-layout {
    table-layout: fixed;
    float: left;
  }

  .table-width {
    width: 100%;
  }
}

.product-spacer {
  width: 0px;
}

.product_thumb {
  margin-bottom: 0;
  min-height: 200px;
  width: 115px;
}

.price-info-nd {
  height: 25px;
  width: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}

.price-wrap {
  width: 115px;
  line-height: 18px;
}

.price {
  margin-top: 10px;
  display: inline-block;

  .price-num {
    color: #c02026;
    float: left;
    line-height: 18px;
    font-weight: normal;
    font-size: 14px;
  }

  .discount-num {
    color: #c02026;
    float: left;
    line-height: 18px;
    font-weight: normal;
    font-size: 14px;
  }
}

.image-border {
  bottom: 0px;
  float: left;
  clear: both;
}

.dropdown-catelory {
  position: absolute;
  border-radius: 10px;
  padding: 4px 0px;
  border: 1px solid #c6c6c6;
  box-shadow: 2px 5px 1px 1px rgba(0,0,0,0.2);

  .level0 {
    border-bottom: 1px dashed #c7c7c7;
    background-size: 5px;

    .data-menu-category {
      font-family: 'RobotoBold', sans-serif;
      font-weight:bold
    }
  }
}

.only-border-top {
  border-style: hidden!important;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}

#decoration-text {
  text-decoration: line-through;
  line-height: 1.538;
  color: black;
}
