@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#search {
  width: 357px;
  margin: 4px;
}

#search_text{
  width: 297px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 52px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #1f7f5c;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.signin {
  input {
    height: auto !important;
  }
}

#search_text:focus {
    background: rgb(64, 151, 119);
}

#search_button {
  border: 0 none;
  background: #1f7f5c url(search.png) center no-repeat;
  width: 60px;
  float: left;
  padding: 0;
  text-align: center;
  height: 52px;
  cursor: pointer;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 0;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
