%session.col-md-12
  %session.col-md-8
    = label_tag category.name
  %session.col-md-4
    .col-sm-4
      = link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?'}
    .col-sm-4
      = link_to 'Edit', edit_category_path(category)
